.text-bold {
  font-weight: 700; }

.bg-color {
  background-color: rgba(255, 255, 255, 0.7); }

.bg-color-dark {
  background-color: rgba(17, 35, 81, 0.7); }

.bg-img-static {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.main-fluid-container {
  padding-right: 0;
  padding-left: 0; }
  .main-fluid-container .navbar-wysocki {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    border-bottom: 2px solid #24448c;
    transition: all .4s; }
    .main-fluid-container .navbar-wysocki .icon-bar {
      width: 35px;
      height: 4px;
      border-radius: 3px;
      color: #fff; }
    .main-fluid-container .navbar-wysocki svg {
      height: 100px;
      transition: all .4s;
      width: 200px; }
      @media (min-width: 544px) {
        .main-fluid-container .navbar-wysocki svg {
          width: 250px; } }
      .main-fluid-container .navbar-wysocki svg.shrink {
        width: 200px;
        height: 50px; }
    .main-fluid-container .navbar-wysocki .navbar-collapse.in {
      border-top: none;
      overflow-y: visible;
      box-shadow: none; }
    .main-fluid-container .navbar-wysocki .navbar-collapse .nav-style {
      margin-top: 0px;
      margin-bottom: 25px;
      transition: all .4s;
      text-align: center;
      height: 100%;
      width: 100%; }
      @media (min-width: 992px) {
        .main-fluid-container .navbar-wysocki .navbar-collapse .nav-style {
          margin: 25px 0;
          text-align: left;
          height: 50px;
          width: auto; } }
      .main-fluid-container .navbar-wysocki .navbar-collapse .nav-style.shrink {
        margin: 0; }
      .main-fluid-container .navbar-wysocki .navbar-collapse .nav-style li {
        float: none; }
        @media (min-width: 992px) {
          .main-fluid-container .navbar-wysocki .navbar-collapse .nav-style li {
            float: left; } }
      .main-fluid-container .navbar-wysocki .navbar-collapse .nav-style a {
        color: #fff;
        font-family: Josefin Sans, sans-serif;
        font-size: 20px; }
        .main-fluid-container .navbar-wysocki .navbar-collapse .nav-style a:hover, .main-fluid-container .navbar-wysocki .navbar-collapse .nav-style a:focus {
          background-color: transparent;
          text-decoration: underline; }

.banner-container {
  margin-top: 50px;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 2px solid #24448c; }
  .banner-container .main-slider .banner-item {
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    .banner-container .main-slider .banner-item h1 {
      color: #fff;
      font-family: Josefin Sans, sans-serif;
      font-style: italic;
      font-weight: 300;
      position: absolute;
      font-size: 54px;
      top: 30%;
      transform: translateY(-50%);
      right: auto;
      left: 0;
      margin-right: 15px; }
      @media (min-width: 544px) {
        .banner-container .main-slider .banner-item h1 {
          font-size: 72px;
          right: 50%;
          margin-right: 0;
          left: auto; } }

section {
  margin-bottom: 15px;
  color: #112351; }
  section h2 {
    font-family: Josefin Sans, sans-serif;
    margin-left: 55px;
    margin-top: 70px; }
  section h3 {
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 35px;
    margin-top: 0px; }
  section article {
    padding: 45px 15px 70px 15px; }
    @media (min-width: 768px) {
      section article {
        padding: 45px 85px 70px 85px; } }
    section article.material-text {
      transform: translateY(0%);
      position: static; }
      @media (min-width: 992px) {
        section article.material-text {
          position: absolute;
          top: 50%;
          transform: translateY(-50%); } }
    section article.contact-text {
      padding-top: 10px;
      padding-bottom: 0;
      text-align: left; }
  section h2, section h3 {
    text-transform: uppercase;
    font-weight: 700; }
  section p {
    line-height: 1.8;
    margin-bottom: 0; }
  section.shoes-container .shoe-selected {
    position: relative; }
    section.shoes-container .shoe-selected aside {
      color: #fff;
      font-family: Josefin Sans, sans-serif; }
      section.shoes-container .shoe-selected aside h4 {
        font-size: 30px;
        margin-top: 45px;
        margin-bottom: 0; }
      section.shoes-container .shoe-selected aside p {
        font-weight: 300;
        font-size: 18px;
        line-height: 1.2; }
        section.shoes-container .shoe-selected aside p.shoe-number {
          margin-top: 5px; }
        section.shoes-container .shoe-selected aside p.shoe-info {
          margin-top: 20px;
          margin-bottom: 20px; }
        section.shoes-container .shoe-selected aside p.shoe-allegro {
          margin-bottom: 10px; }
          section.shoes-container .shoe-selected aside p.shoe-allegro a {
            color: #fff;
            text-decoration: underline; }
            section.shoes-container .shoe-selected aside p.shoe-allegro a:hover, section.shoes-container .shoe-selected aside p.shoe-allegro a:focus {
              font-weight: 400; }
        section.shoes-container .shoe-selected aside p.shoe-size-text {
          margin-top: 20px; }
        section.shoes-container .shoe-selected aside p.shoe-sizes {
          font-weight: 400;
          margin-top: 15px; }
        section.shoes-container .shoe-selected aside p.shoe-colors {
          margin-top: 25px;
          margin-bottom: 15px; }
    section.shoes-container .shoe-selected .single-shoe-img-box {
      padding: 12px; }
    section.shoes-container .shoe-selected .shoe-color-box {
      width: 32px;
      border-radius: 9px;
      height: 32px;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 5px;
      cursor: pointer; }
    section.shoes-container .shoe-selected .close-single {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 32px;
      height: 32px;
      opacity: 0.9;
      z-index: 10; }
      section.shoes-container .shoe-selected .close-single:hover {
        opacity: 1;
        cursor: pointer;
        background-color: rgba(17, 35, 81, 0.7); }
      section.shoes-container .shoe-selected .close-single:before, section.shoes-container .shoe-selected .close-single:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 1px;
        background-color: #fff; }
      section.shoes-container .shoe-selected .close-single:before {
        transform: rotate(45deg); }
      section.shoes-container .shoe-selected .close-single:after {
        transform: rotate(-45deg); }
  section.shoes-container .season-tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center; }
    section.shoes-container .season-tabs li {
      font-family: Arima Madurai, cursive;
      color: #fff;
      float: left;
      width: 25%;
      cursor: pointer;
      font-size: 18px; }
      @media (min-width: 544px) {
        section.shoes-container .season-tabs li {
          font-size: 30px; } }
      section.shoes-container .season-tabs li.active {
        background-color: rgba(17, 35, 81, 0.7); }
  section.shoes-container .single-shoe:hover {
    cursor: pointer; }
  section.shoes-container .shoes-ajax {
    border-top: 12px solid transparent; }
    section.shoes-container .shoes-ajax .shoe-small-box {
      background-size: cover;
      height: 350px;
      background-position: center center;
      background-repeat: no-repeat; }
      @media (min-width: 544px) {
        section.shoes-container .shoes-ajax .shoe-small-box {
          height: 500px; } }
      @media (min-width: 768px) {
        section.shoes-container .shoes-ajax .shoe-small-box {
          height: 300px; } }
      @media (min-width: 992px) {
        section.shoes-container .shoes-ajax .shoe-small-box {
          height: 210px; } }
      section.shoes-container .shoes-ajax .shoe-small-box.small-box-1, section.shoes-container .shoes-ajax .shoe-small-box.small-box-2, section.shoes-container .shoes-ajax .shoe-small-box.small-box-3, section.shoes-container .shoes-ajax .shoe-small-box.small-box-4 {
        width: calc(100% - 24px);
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 12px; }
      @media (min-width: 768px) {
        section.shoes-container .shoes-ajax .shoe-small-box.small-box-1 {
          margin-left: 12px;
          margin-right: 6px;
          margin-bottom: 12px;
          width: calc(50% - 18px); } }
      @media (min-width: 992px) {
        section.shoes-container .shoes-ajax .shoe-small-box.small-box-1 {
          margin-left: 12px;
          margin-right: 6px;
          width: calc(25% - 18px); } }
      @media (min-width: 768px) {
        section.shoes-container .shoes-ajax .shoe-small-box.small-box-2 {
          margin-left: 6px;
          margin-right: 12px;
          margin-bottom: 12px;
          width: calc(50% - 18px); } }
      @media (min-width: 992px) {
        section.shoes-container .shoes-ajax .shoe-small-box.small-box-2 {
          margin: 0px 6px 12px 6px;
          width: calc(25% - 12px); } }
      @media (min-width: 768px) {
        section.shoes-container .shoes-ajax .shoe-small-box.small-box-3 {
          margin-left: 12px;
          margin-right: 6px;
          margin-bottom: 12px;
          width: calc(50% - 18px); } }
      @media (min-width: 992px) {
        section.shoes-container .shoes-ajax .shoe-small-box.small-box-3 {
          margin: 0px 6px 12px 6px;
          width: calc(25% - 12px); } }
      @media (min-width: 768px) {
        section.shoes-container .shoes-ajax .shoe-small-box.small-box-4 {
          margin-left: 6px;
          margin-right: 12px;
          margin-bottom: 12px;
          width: calc(50% - 18px); } }
      @media (min-width: 992px) {
        section.shoes-container .shoes-ajax .shoe-small-box.small-box-4 {
          width: calc(25% - 18px);
          margin-left: 6px;
          margin-right: 12px; } }
    section.shoes-container .shoes-ajax .promo-shoes {
      margin-bottom: 12px; }
      section.shoes-container .shoes-ajax .promo-shoes .shoe-big-box {
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: none;
        width: calc(100% - 24px); }
        @media (min-width: 544px) {
          section.shoes-container .shoes-ajax .promo-shoes .shoe-big-box {
            height: 500px; } }
        @media (min-width: 768px) {
          section.shoes-container .shoes-ajax .promo-shoes .shoe-big-box {
            height: 420px;
            width: calc(50% - 18px); } }
        section.shoes-container .shoes-ajax .promo-shoes .shoe-big-box.active {
          display: block; }
        section.shoes-container .shoes-ajax .promo-shoes .shoe-big-box img {
          margin: auto; }
        section.shoes-container .shoes-ajax .promo-shoes .shoe-big-box.big-box-1 {
          margin-left: 12px;
          margin-right: 12px;
          margin-bottom: 12px; }
          @media (min-width: 768px) {
            section.shoes-container .shoes-ajax .promo-shoes .shoe-big-box.big-box-1 {
              margin-bottom: 0;
              margin-left: 12px;
              margin-right: 6px; } }
        section.shoes-container .shoes-ajax .promo-shoes .shoe-big-box.big-box-2 {
          margin-left: 12px;
          margin-right: 12px; }
          @media (min-width: 768px) {
            section.shoes-container .shoes-ajax .promo-shoes .shoe-big-box.big-box-2 {
              margin-left: 6px;
              margin-right: 12px; } }
  section.shoes-container .ajax-btn {
    background-color: rgba(17, 35, 81, 0.85);
    text-align: center;
    font-family: Josefin Sans, sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px 0px; }
  section.materials .img-material-box {
    padding: 0px 15px 15px 15px; }
    section.materials .img-material-box .material-img {
      width: 100%;
      height: auto; }
  section.sales .first-text {
    padding-bottom: 0px; }
  section.contact .contact-col {
    min-height: 600px; }
    section.contact .contact-col.bg-color {
      padding-top: 1px;
      padding-bottom: 1px; }
  section.contact h2:nth-of-type(2) {
    margin-top: 45px;
    margin-bottom: 25px; }
  section.contact .wpcf7 {
    margin-left: 10px;
    margin-right: 10px; }
    @media (min-width: 768px) {
      section.contact .wpcf7 {
        margin-left: 85px;
        margin-right: 75px; } }
    @media (min-width: 992px) {
      section.contact .wpcf7 {
        margin-left: 40px;
        margin-right: 35px; } }
    @media (min-width: 1200px) {
      section.contact .wpcf7 {
        margin-left: 85px;
        margin-right: 75px; } }
    section.contact .wpcf7 form {
      margin-bottom: 25px;
      font-family: Lato, sans-serif; }
      section.contact .wpcf7 form.wpcf7-form p:nth-of-type(-n+2) {
        width: 50%;
        float: left; }
      section.contact .wpcf7 form.wpcf7-form p:nth-of-type(2) label {
        float: right; }
      section.contact .wpcf7 form.wpcf7-form p:nth-of-type(3) {
        width: 100%; }
        section.contact .wpcf7 form.wpcf7-form p:nth-of-type(3) label {
          display: block; }
          section.contact .wpcf7 form.wpcf7-form p:nth-of-type(3) label textarea {
            width: 100%;
            resize: none; }
      section.contact .wpcf7 form.wpcf7-form p:nth-of-type(4) {
        display: inline-block;
        margin-top: 10px;
        color: #fff; }
        section.contact .wpcf7 form.wpcf7-form p:nth-of-type(4) input {
          background-color: #24448c;
          transition: all .4s; }
          section.contact .wpcf7 form.wpcf7-form p:nth-of-type(4) input:focus {
            color: #fff;
            border-color: #fff; }
          section.contact .wpcf7 form.wpcf7-form p:nth-of-type(4) input:hover {
            color: #fff; }
      section.contact .wpcf7 form.wpcf7-form .wpcf7-validation-errors {
        display: none !important; }
      section.contact .wpcf7 form.wpcf7-form .wpcf7-not-valid-tip {
        font-size: 10px; }
      section.contact .wpcf7 form div[role=alert] {
        margin-top: 10px;
        margin-bottom: 10px; }
      section.contact .wpcf7 form p {
        margin-top: -20px; }
      section.contact .wpcf7 form input:focus, section.contact .wpcf7 form textarea:focus {
        border-color: #24448c; }

#map {
  height: 500px;
  margin-top: 15px; }
  @media (min-width: 992px) {
    #map {
      margin-top: 0;
      margin-left: 0; } }

footer {
  padding-top: 25px;
  font-family: Lato, sans-serif;
  color: #112351; }
  footer section {
    margin-bottom: 5px; }
    footer section .info-row p {
      padding-left: 0; }
      @media (min-width: 544px) {
        footer section .info-row p {
          padding-left: 30%; } }
    footer section .info-row ul {
      padding-left: 0;
      list-style-image: url("../img/li.png"); }
      @media (min-width: 544px) {
        footer section .info-row ul {
          padding-left: 35%; } }
    footer section .info-row a {
      color: #112351;
      text-decoration: none; }
      footer section .info-row a:hover {
        font-weight: 700; }
    footer section .info-row .social-box br {
      display: none; }
      @media (min-width: 768px) {
        footer section .info-row .social-box br {
          display: block; } }
    footer section .info-row .social-box .social-links {
      display: inline-block;
      margin-bottom: 10px;
      padding-left: 0;
      width: 49%;
      text-align: center;
      margin-top: 10px; }
      @media (min-width: 768px) {
        footer section .info-row .social-box .social-links {
          padding-left: 30%;
          margin-top: 0px;
          width: 100%;
          text-align: left; } }
    footer section .copyrights-row {
      text-align: center; }
      footer section .copyrights-row .copyrights-box {
        padding: 0; }
        footer section .copyrights-row .copyrights-box p {
          display: inline-block;
          text-align: center;
          font-size: 12px; }
          footer section .copyrights-row .copyrights-box p a {
            color: #112351; }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-collapse.collapse.in {
    display: block !important; }
  .navbar-header .collapse, .navbar-toggle {
    display: block !important; }
  .navbar-header {
    float: none; } }
