// fonts
$font-st:	Lato, sans-serif
$font-nd: Josefin Sans, sans-serif
$font-rd: Arima Madurai, cursive


// colors
$color-white: #fff
$color-black: #000
$color-st: #24448c
$color-nd: #112351

//Global
$vh100: 100vh

.text-bold
	font-weight: 700
.bg-color
	background-color: rgba($color-white, 0.7)
.bg-color-dark
	background-color: rgba($color-nd, 0.7)	
.bg-img-static
	height: 100vh
	width: 100%
	position: fixed
	z-index: -1
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
.main-fluid-container
	padding-right: 0
	padding-left: 0
	.navbar-wysocki
		// background-image: url("../img/navbar-wood.png")
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		height: auto
		// height: 104px
		border-bottom: 2px solid $color-st
		transition: all .4s
		// &.shrink
		// 	height: 50px
		.icon-bar
			width: 35px
			height: 4px
			border-radius: 3px
			color: $color-white
			// background-color: $color-white
		svg
			height: 100px
			transition: all .4s
			width: 200px
			@media (min-width: 544px) //from bootstrap 4 alpha
				width: 250px
			&.shrink
				width: 200px

				height: 50px
		.navbar-collapse
			&.in
				border-top: none
				overflow-y: visible	
				box-shadow: none		
			.nav-style
				margin-top: 0px
				margin-bottom: 25px
				transition: all .4s
				text-align: center
				height: 100%
				width: 100%				
				@media (min-width: 992px)
					margin: 25px 0
					text-align: left
					height: 50px
					width: auto
				&.shrink
					margin: 0	
				li
					float: none
					@media (min-width: 992px)
						float: left
				a
					color: $color-white
					font-family: $font-nd
					font-size: 20px
					&:hover, 
					&:focus,
						background-color: transparent
						text-decoration: underline
.banner-container
	margin-top: 50px
	padding-right: 0
	padding-left: 0
	border-bottom: 2px solid $color-st	
	.main-slider
		.banner-item
			display: block
			width: 100%
			height: calc(#{$vh100} - 50px)
			background-size: cover
			background-position: center center
			background-repeat: no-repeat
			h1
				color: $color-white
				font-family: $font-nd
				font-style: italic
				font-weight: 300
				position: absolute
				font-size: 54px
				top: 30%
				transform: translateY(-50%)
				right: auto
				left: 0
				margin-right: 15px
				@media (min-width: 544px)
					font-size: 72px
					right: 50%	
					margin-right: 0
					left: auto


section
	margin-bottom: 15px
	color: $color-nd
	h2
		font-family: $font-nd
		margin-left: 55px
		margin-top: 70px
	h3
		font-family: $font-nd		
		margin-bottom: 35px
		margin-top: 0px	
	article
		padding: 45px 15px 70px 15px
		@media (min-width: 768px)
			padding: 45px 85px 70px 85px

		&.material-text
			transform: translateY(0%)
			position: static
			@media (min-width: 992px)
				position: absolute
				top: 50%
				transform: translateY(-50%)
		&.contact-text
			padding-top: 10px
			padding-bottom: 0
			text-align: left

	h2, h3
		text-transform: uppercase
		font-weight: 700
	p
		line-height: 1.8
		margin-bottom: 0
	&.shoes-container
		.shoe-selected
			position: relative
			aside
				color: $color-white
				font-family: $font-nd
				h4
					font-size: 30px
					margin-top: 45px
					margin-bottom: 0
				p					
					font-weight: 300
					font-size: 18px
					line-height: 1.2
					&.shoe-number
						margin-top: 5px
					&.shoe-info
						margin-top: 20px
						margin-bottom: 20px
					&.shoe-allegro
						margin-bottom: 10px
						a
							color: $color-white
							text-decoration: underline
							&:hover,
							&:focus
								font-weight: 400
					&.shoe-size-text
						margin-top: 20px
					&.shoe-sizes
						font-weight: 400
						margin-top: 15px
					&.shoe-colors
						margin-top: 25px
						margin-bottom: 15px
			// display: none
			.single-shoe-img-box
				padding: 12px
			.shoe-color-box
				width: 32px
				border-radius: 9px
				height: 32px
				display: inline-block
				margin-right: 10px
				margin-bottom: 5px
				cursor: pointer
			.close-single
				position: absolute
				right: 10px
				top: 10px
				width: 32px
				height: 32px
				opacity: 0.9
				z-index: 10
				&:hover 
					opacity: 1
					cursor: pointer
					background-color: rgba($color-nd, 0.7)
				&:before, &:after 
					position: absolute
					left: 15px
					content: ' '
					height: 33px
					width: 1px
					background-color: $color-white
				&:before 
					transform: rotate(45deg)
				&:after 
					transform: rotate(-45deg)


		.season-tabs
			margin: 0
			padding: 0
			list-style-type: none
			text-align: center
			li
				font-family: $font-rd
				color: $color-white
				float: left
				width: 25%
				cursor: pointer
				font-size: 18px
				@media (min-width: 544px)
					font-size: 30px
				&.active
					background-color: rgba($color-nd, 0.7)
		.single-shoe
		 &:hover
		 	cursor: pointer
		.shoes-ajax
			border-top: 12px solid transparent
			.shoe-small-box
				// border: 10px solid transparent
				background-size: cover
				height: 350px
				background-position: center center
				background-repeat: no-repeat
				@media (min-width: 544px)
						height: 500px
				@media (min-width: 768px)
					height: 300px
				@media (min-width: 992px)
					height: 210px
				&.small-box-1, &.small-box-2, &.small-box-3, &.small-box-4
					width: calc(100% - 24px)
					margin-left: 12px
					margin-right: 12px
					margin-bottom: 12px
				&.small-box-1
					@media (min-width: 768px)
						margin-left: 12px
						margin-right: 6px
						margin-bottom: 12px
						width: calc(50% - 18px)
					@media (min-width: 992px)
						margin-left: 12px
						margin-right: 6px
						width: calc(25% - 18px)
				&.small-box-2
					@media (min-width: 768px)
						margin-left: 6px
						margin-right: 12px
						margin-bottom: 12px
						width: calc(50% - 18px)
					@media (min-width: 992px)
						margin: 0px 6px 12px 6px
						width: calc(25% - 12px)
				&.small-box-3
					@media (min-width: 768px)
						margin-left: 12px
						margin-right: 6px
						margin-bottom: 12px
						width: calc(50% - 18px)
					@media (min-width: 992px)
						margin: 0px 6px 12px 6px
						width: calc(25% - 12px)
				&.small-box-4
					@media (min-width: 768px)
						margin-left: 6px
						margin-right: 12px
						margin-bottom: 12px
						width: calc(50% - 18px)
					@media (min-width: 992px)
						width: calc(25% - 18px)
						margin-left: 6px
						margin-right: 12px
			.promo-shoes		
				margin-bottom: 12px		
				.shoe-big-box
					height: 350px
					background-size: cover
					background-repeat: no-repeat
					background-position: center center
					display: none
					width: calc(100% - 24px)
					@media (min-width: 544px)
						height: 500px
					@media (min-width: 768px)
						height: 420px
						width: calc(50% - 18px)
					&.active
						display: block	
					img
						margin: auto
					&.big-box-1
						margin-left: 12px
						margin-right: 12px
						margin-bottom: 12px
						@media (min-width: 768px)
							margin-bottom: 0
							margin-left: 12px
							margin-right: 6px
					&.big-box-2
						margin-left: 12px
						margin-right: 12px
						@media (min-width: 768px)
							margin-left: 6px
							margin-right: 12px
		.ajax-btn
			background-color: rgba($color-nd, 0.85)
			text-align: center
			font-family: $font-nd
			font-size: 18px
			color: $color-white
			text-transform: uppercase
			cursor: pointer
			padding: 20px 0px

	&.materials
		.img-material-box
			padding: 0px 15px 15px 15px		
			.material-img
				width: 100%
				height: auto
				// box-sizing: border-box
	&.sales
		.first-text
			padding-bottom: 0px

	&.contact
		.contact-col
			min-height: 600px
			&.bg-color
				padding-top: 1px
				padding-bottom: 1px
		h2:nth-of-type(2)
			margin-top: 45px
			margin-bottom: 25px
		.wpcf7
			margin-left: 10px
			margin-right: 10px
			@media (min-width: 768px)
				margin-left: 85px
				margin-right: 75px
			@media (min-width: 992px)
				margin-left: 40px
				margin-right: 35px
			@media (min-width: 1200px)
				margin-left: 85px
				margin-right: 75px
			form
				margin-bottom: 25px
				font-family: $font-st
				&.wpcf7-form
					p:nth-of-type(-n+2)
						width: 50%
						float: left
					p:nth-of-type(2)
						label
							float: right
					p:nth-of-type(3)
						width: 100%
						label
							display: block
							textarea
								width: 100%
								resize: none
					p:nth-of-type(4)
						display: inline-block
						margin-top: 10px
						color: $color-white
						input
							background-color: $color-st
							transition: all .4s
							&:focus
								color: $color-white
								border-color: $color-white
							&:hover
								color: $color-white
					.wpcf7-validation-errors
						display: none !important
					.wpcf7-not-valid-tip
						font-size: 10px
				div[role=alert]
					margin-top: 10px
					margin-bottom: 10px
				p
					margin-top: -20px
				input, textarea				
					&:focus					
						border-color: $color-st
			
#map
	height: 500px
	margin-top: 15px
	@media (min-width: 992px)
		margin-top: 0
		margin-left: 0

footer
	padding-top: 25px
	font-family: $font-st
	color: $color-nd
	section
		margin-bottom: 5px
		.info-row
			p		
				padding-left: 0
				@media (min-width: 544px)
					padding-left: 30%
			ul
				padding-left: 0
				list-style-image: url("../img/li.png")
				@media (min-width: 544px)
					padding-left: 35%
			a
				color: $color-nd
				text-decoration: none
				&:hover
					font-weight: 700
			.social-box
				br
					display: none
					@media (min-width: 768px)
						display: block
				.social-links
					display: inline-block
					margin-bottom: 10px
					padding-left: 0
					width: 49%
					text-align: center
					margin-top: 10px
					@media (min-width: 768px)
						padding-left: 30%	
						margin-top: 0px
						width: 100%
						text-align: left			
		.copyrights-row
			text-align: center
			.copyrights-box
				padding: 0					
				p
					display: inline-block
					text-align: center
					font-size: 12px
					a
						color: $color-nd

@media (min-width: 768px) and (max-width: 991px)
	.navbar-collapse.collapse 
		display: none !important

	.navbar-collapse.collapse.in 
		display: block !important

	.navbar-header .collapse, .navbar-toggle 
		display:block !important

	.navbar-header 
		float: none

